<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Registrarme</v-toolbar-title>
                <v-spacer />
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      to="/"
                      icon
                      large
                      target="_blank"
                      v-on="on"
                    >
                      <v-icon>mdi-lock</v-icon>
                    </v-btn>
                  </template>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-form @submit.prevent="register">
                <v-card-text>
                  <v-text-field
                    v-model="email"
                    label="Correo electrónico"
                    name="email"
                    prepend-icon="mdi-account"
                    type="text"
                  />

                  <v-text-field
                    id="password"
                    v-model="password"
                    label="Contraseña"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  />
                </v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn type="submit" color="primary">
                    Registrar
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import firebase from '@/plugins/firebase'
import 'firebase/auth'
import Swal from 'sweetalert2'

export default {
  layout: 'auth',
  data: () => ({
    email: '',
    password: ''
  }),
  methods: {
    register () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(() => {
        this.$store.dispatch('users/login', { email: this.email, password: this.password })
          .then(() => {
            this.$router.push('/')
          })
          .catch((e) => {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: e.message
            })
          })
      }).catch((e) => {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: e.message
        })
      })
    }
  }
}
</script>
